<header class="header">
  <div>Image finder</div>
  <div>logo</div>
</header>

<main class="main">
  <aside class="aside">
    <div class="link-wrapper"> <a routerLink="search" routerLinkActive = "active"><mat-icon class="link-item">find_in_page</mat-icon></a></div>
    <div class="link-wrapper"> <a routerLink="bookmarks" routerLinkActive = "active"><mat-icon class="link-item">bookmarks</mat-icon></a></div>
  </aside>
  <div class="output">
      <router-outlet></router-outlet>
  </div>
</main>


<footer class="footer">Copyrights</footer>